.app{
 
  height: 400px;
  font-size: 40px;
  align-content: center;
}
#root{
  display: flex;
  justify-content: center;
  background-color: gray;
  color: white;
}

.answer-section button{
 align-items:center;
 font-size: 20px;
 padding: 20px;
 
}
.answer-section{
  display:flex;
  justify-content: space-between;
}